# 1-1 Intro Python Practice
##  Getting started with Python in Jupyter Notebooks
### notebooks, comments, print(), type(), addition, errors and art

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>
- use Python 3 in Jupyter notebooks
- write working code using `print()` and `#` comments  
- write working code using `type()` and variables
- combine strings using string addition (+)
- add numbers in code (+)
- troubleshoot errors
- create character art  

# &nbsp;
>**note:** the **[ ]** indicates student has a task to complete  
  
>**reminder:** to run code and save changes: student should upload or clone a copy of notebooks 

#### notebook use
- [ ] insert a **code cell** below   
- [ ] enter the following Python code, including the comment: 
```python 
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')
```
Then run the code - the output should be:  
`Hello!`

In [1]:
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')

Hello!

#### run the cell below   
- [ ] use **Ctrl + Enter**  
- [ ] use **Shift + Enter**

In [3]:
print('watch for the cat')

watch for the cat

#### Student's Notebook editing
- [ ] Edit **this** notebook Markdown cell replacing the word "Student's" above with your name
- [ ] Run the cell to display the formatted text
- [ ] Run any 'markdown' cells that are in edit mode, so they are easier to read

In [30]:
#### [ ] convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

Run as a code cell

##  # comments
create a code comment that identifies this notebook, containing your name and the date

In [ ]:
# practice 1-1, Landon Sherman, 9/20/2018

#### use print() to 
- [ ] print [**your_name**]
- [ ] print **is using python!**

In [5]:
# [ ] print your name
print('Landon Sherman')
# [ ] print "is using Python"
print('is using Python!')

Landon Sherman
is using Python!

Output above should be:  
`Your Name  
is using Python!`

#### use variables in print()
- [ ] create a variable **your_name** and assign it a string containing your name
- [ ] print **your_name**

In [6]:
# [ ] create a variable your_name and assign it a sting containing your name
your_name = 'Landon Sherman'

#[ ] print your_name
print(your_name)

Landon Sherman

#### create more string variables
- **[ ]** create variables as directed below
- **[ ]** print the variables

In [7]:
# [ ] create variables and assign values for: favorite_song, shoe_size, lucky_number
favorite_song = 'Gone Away'
shoe_size = 10
lucky_number = 13
# [ ] print the value of each variable favorite_song, shoe_size, and lucky_number
print(favorite_song)
print(shoe_size)
print(lucky_number)

Gone Away
10
13

#### use string addition
- **[ ]**  print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using **string addition**
>for example favorite_song displayed as:  
`favorite song is happy birthday`

In [11]:
# [ ] print favorite_song with description
print('My favorite song',favorite_song,'is by Five Finger Death Punch. ')

# [ ] print shoe_size with description
print('My shoes are a size',shoe_size)

# [ ] print lucky_number with description
print('I am always lucky with',lucky_number)

My favorite song Gone Away is by Five Finger Death Punch.
My shoes are a size 10
I am always lucky with 13

##### more string addition
- **[ ]** make a single string (sentence) in a variable called favorite_lucky_shoe using **string addition** with favorite_song, shoe_size, lucky_number variables and other strings as needed 
- **[ ]** print the value of the favorite_lucky_shoe variable string
> sample output:  
`For singing happy birthday 8.5 times, you will be fined $25`

In [45]:
# assign favorite_lucky_shoe using
favorite_song = 'Gone Away'
shoe_size = '10'
lucky_number = '13'
favorite_lucky_shoe = 'I like to sing ' + favorite_song + ' ' + shoe_size + ' times a day every ' + lucky_number + ' days.'
print(favorite_lucky_shoe)

I like to sing Gone Away 10 times a day every 13 days.

### print() art

#### use `print()` and the asterisk **\*** to create the following shapes
- [ ] diagonal line  
- [ ] rectangle  
- [ ] smiley face

In [54]:
# [ ] print a diagonal using "*"
print('*')
print(' *')
print('  *')
print('   *')
print('    *')

# [ ] rectangle using "*"
print('*****')
print('*   *')
print('*   *')
print('*****')
# [ ] smiley using "*"
print('    *   *    ')
print('*           *')
print(' *         *')
print('  * ****  *')

*
 *
  *
   *
    *
*****
*   *
*   *
*****
    *   *
*           *
 *         *
  * ****  *

#### Using `type()`
-**[ ]** calulate the *type* using `type()`

In [2]:
# [ ] display the type of 'your name' (use single quotes)

type('Landon Sherman')

str

In [3]:
# [ ] display the type of "save your notebook!" (use double quotes)
type("save your notebook!")

str

In [4]:
# [ ] display the type of "25" (use quotes)
type("25")

str

In [5]:
# [ ] display the type of "save your notebook " + 'your name'
type("save your name" + 'your name')

str

In [6]:
# [ ] display the type of 25 (no quotes)
type(25)

int

In [7]:
# [ ] display the type of 25 + 10 
type(25+10)

int

In [10]:
# [ ] display the type of 1.55
type(1.55)

float

In [8]:
# [ ] display the type of 1.55 + 25
type(1.55+25)

float

#### Find the type of variables
- **[ ]** run the cell below to make the variables available to be used in other code
- **[ ]** display the data type as directed in the cells that follow

In [11]:
# assignments ***RUN THIS CELL*** before starting the section

student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [12]:
# [ ] display the current type of the variable student_name
type(student_name)

str

In [13]:
# [ ] display the type of student_age
type(student_age)

int

In [14]:
# [ ] display the type of student_grade
type(student_grade)

float

In [15]:
# [ ] display the type of student_age + student_grade
type(student_age + student_grade)

float

In [16]:
# [ ] display the current type of student_id
type(student_id)

str

In [18]:
# assign new value to student_id 
student_id='CDE-121-666'

# [ ] display the current of student_id
type(student_id)

str

#### number integer addition

- **[ ]** create variables (x, y, z) with integer values

In [19]:
# [ ] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)
x=5
y=2
z=3

- **[ ]** insert a **code cell** below
- **[ ]** create an integer variable named **xyz_sum** equal to the sum of x, y, and z
- **[ ]** print the value of **xyz_sum**

In [23]:
xyz_sum=x + y + z
print(xyz_sum)

10

### Errors
- **[ ]** troubleshoot and fix the errors below

In [25]:
# [ ] fix the error 

print("Hello World!")

Hello World!

In [26]:
# [ ] fix the error 
print('strings have quotes and variables have names')

strings have quotes and variables have names

In [28]:
# [ ] fix the error 
print( "I have $5")

I have $5

In [29]:
# [ ] fix the error 
print("always save the notebook")

always save the notebook

## ASCII art
- **[ ]** Display first name or initials as ASCII Art
- **[ ]** Challenge: insert an additional code cell to make an ASCII picture

In [30]:
# [ ] ASCII ART
print('*          ****')
print('*          *')
print('*          *')
print('*          ****')
print('*             *')
print('*             *')
print('*****      ****')

*          ****
*          *
*          *
*          ****
*             *
*             *
*****      ****

In [35]:
# [ ] ASCII ART
print(' ^...^')
print('<_* *_>')
print('  \_/')

 ^...^
<_* *_>
  \_/

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; © 2017 Microsoft